
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
  }

.main{
    padding: 20px 0;
    margin: 10px 0;
}

.container{
    width: 1200;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

.box1-3{
    height: 100px;
    width: 33.33%;
    float: left;
    padding: 5px;
}

.box1{
    height: 100px;
    width: 100%;
    float: left;
    padding: 5px;
}
.box1-2{
    height: 100px;
    width: 50%;
    float: left;
    padding: 5px;

}

.box4-6{
    height: 100px;
    width: 66.66%;
    float: left;
    padding: 5px;
}

.box1-6{
    height: 100px;
    width: 16.66%;
    padding: 5px;
    float: left;
}

.colorG{
    background-color:grey;
    height: 100%;
}
.colorB{
    background-color: burlywood;
    height: 100%;
}
.colorC{
    background-color: cadetblue;
    height: 100%;
}




